# Obtaining Twitter tweets from file

In [14]:
import pandas as pd

In [15]:
start = "2019-05-25"
end = "2019-06-25"
file_name = "../datasets/general/btctweets.csv"

In [16]:
tweet_data = pd.read_csv(file_name, sep=';', nrows=1000000000)

/var/folders/8k/kjcv8fg107n9xl077vfg2_8m0000gn/T/ipykernel_28278/1782588613.py:1: DtypeWarning: Columns (0,1,2,3,4,8) have mixed types. Specify dtype option on import or set low_memory=False.
  tweet_data = pd.read_csv(file_name, sep=';', nrows=1000000000)

In [17]:
tweet_data

,id,user,fullname,url,timestamp,replies,likes,retweets,text
0,1132977055300300800,KamdemAbdiel,Abdiel kamdem,NaN,2019-05-27 11:49:14+00,0.0,0.0,0.0,È appena uscito un nuovo video! LES CRYPTOMONN...
1,1132977073402736640,bitcointe,Bitcointe,NaN,2019-05-27 11:49:18+00,0.0,0.0,0.0,Cardano: Digitize Currencies; EOS https://t.co...
2,1132977023893139456,3eyedbran,Bran - 3 Eyed Raven,NaN,2019-05-27 11:49:06+00,0.0,2.0,1.0,Another Test tweet that wasn't caught in the s...
3,1132977089089556481,DetroitCrypto,J. Scardina,NaN,2019-05-27 11:49:22+00,0.0,0.0,0.0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,1132977092340191232,mmursaleen72,Muhammad Mursaleen,NaN,2019-05-27 11:49:23+00,0.0,0.0,0.0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...
...,...,...,...,...,...,...,...,...,...
20165008,1198262135580741633,JacobCanfield,Jacob Canfield,NaN,2019-11-23 15:28:50+00,2.0,16.0,3.0,Happy #FibonacciDay \n\nA while back I created...
20165009,1198266433941233664,Vizique,Vizique,NaN,2019-11-23 15:45:55+00,0.0,0.0,0.0,Bitcoin Suisse Certificates :) https://t.co/nd...
20165010,1198266441293860864,torusJKL,Gal Buki ($torusJKL),NaN,2019-11-23 15:45:56+00,0.0,0.0,0.0,Register now for the early access of the Codug...
20165011,1198266442673733633,Adekunl95628158,Adekunle Daniel,NaN,2019-11-23 15:45:57+00,0.0,0.0,0.0,@btc \n@btc \nDo you know that BTC Baskets isn...
20165012,1198266228583882752,HaraldoXRP,Harry,NaN,2019-11-23 15:45:06+00,0.0,2.0,1.0,$BTC - an update on the longer term view for B...

In [18]:
tweet_data = tweet_data.rename(columns={"timestamp": "date", "text": "tweet", "user": "username", "url": "link"},errors="raise")

In [19]:
tweet_data

,id,username,fullname,link,date,replies,likes,retweets,tweet
0,1132977055300300800,KamdemAbdiel,Abdiel kamdem,NaN,2019-05-27 11:49:14+00,0.0,0.0,0.0,È appena uscito un nuovo video! LES CRYPTOMONN...
1,1132977073402736640,bitcointe,Bitcointe,NaN,2019-05-27 11:49:18+00,0.0,0.0,0.0,Cardano: Digitize Currencies; EOS https://t.co...
2,1132977023893139456,3eyedbran,Bran - 3 Eyed Raven,NaN,2019-05-27 11:49:06+00,0.0,2.0,1.0,Another Test tweet that wasn't caught in the s...
3,1132977089089556481,DetroitCrypto,J. Scardina,NaN,2019-05-27 11:49:22+00,0.0,0.0,0.0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,1132977092340191232,mmursaleen72,Muhammad Mursaleen,NaN,2019-05-27 11:49:23+00,0.0,0.0,0.0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...
...,...,...,...,...,...,...,...,...,...
20165008,1198262135580741633,JacobCanfield,Jacob Canfield,NaN,2019-11-23 15:28:50+00,2.0,16.0,3.0,Happy #FibonacciDay \n\nA while back I created...
20165009,1198266433941233664,Vizique,Vizique,NaN,2019-11-23 15:45:55+00,0.0,0.0,0.0,Bitcoin Suisse Certificates :) https://t.co/nd...
20165010,1198266441293860864,torusJKL,Gal Buki ($torusJKL),NaN,2019-11-23 15:45:56+00,0.0,0.0,0.0,Register now for the early access of the Codug...
20165011,1198266442673733633,Adekunl95628158,Adekunle Daniel,NaN,2019-11-23 15:45:57+00,0.0,0.0,0.0,@btc \n@btc \nDo you know that BTC Baskets isn...
20165012,1198266228583882752,HaraldoXRP,Harry,NaN,2019-11-23 15:45:06+00,0.0,2.0,1.0,$BTC - an update on the longer term view for B...

In [20]:
tweet_data = tweet_data[(tweet_data['date'] > start) & (tweet_data['date'] < end)]

In [21]:
len(tweet_data)

2554029

In [22]:
tweet_data

,id,username,fullname,link,date,replies,likes,retweets,tweet
0,1132977055300300800,KamdemAbdiel,Abdiel kamdem,NaN,2019-05-27 11:49:14+00,0.0,0.0,0.0,È appena uscito un nuovo video! LES CRYPTOMONN...
1,1132977073402736640,bitcointe,Bitcointe,NaN,2019-05-27 11:49:18+00,0.0,0.0,0.0,Cardano: Digitize Currencies; EOS https://t.co...
2,1132977023893139456,3eyedbran,Bran - 3 Eyed Raven,NaN,2019-05-27 11:49:06+00,0.0,2.0,1.0,Another Test tweet that wasn't caught in the s...
3,1132977089089556481,DetroitCrypto,J. Scardina,NaN,2019-05-27 11:49:22+00,0.0,0.0,0.0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,1132977092340191232,mmursaleen72,Muhammad Mursaleen,NaN,2019-05-27 11:49:23+00,0.0,0.0,0.0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...
...,...,...,...,...,...,...,...,...,...
19987520,1132691235817304065,CryptoN_T,NT ☣,NaN,2019-05-26 16:53:29+00,1.0,4.0,2.0,Currently coding safespace coin on top of liqu...
19995654,1141704378748981248,dogepair,Doge Pair,NaN,2019-06-20 13:48:30+00,5.0,4.0,1.0,Do you want to be rich? check https://t.co/xSz...
19996618,1141929737448615942,jamesviggy,James Viggiano,NaN,2019-06-21 04:44:00+00,2.0,15.0,2.0,#Bitcoin bear market comparisons $btc\n\n2013 ...
20083373,1136006201416835072,LittleSweetBB,LittleSweetBB,NaN,2019-06-04 20:25:59+00,1.0,12.0,82.0,Hi #crypto !\n\nI see you are not doing so wel...
20119136,1141762132826099713,quasagroup,QUASA,NaN,2019-06-20 17:38:00+00,1.0,7.0,1.0,Logistics and Blockchain: a perfect match\nBlo...

In [24]:
tweet_data = tweet_data[["date","tweet","username","link", "retweets"]]

In [25]:
tweet_data.tail()

,date,tweet,username,link,retweets
19987520,2019-05-26 16:53:29+00,Currently coding safespace coin on top of liqu...,CryptoN_T,NaN,2.0
19995654,2019-06-20 13:48:30+00,Do you want to be rich? check https://t.co/xSz...,dogepair,NaN,1.0
19996618,2019-06-21 04:44:00+00,#Bitcoin bear market comparisons $btc\n\n2013 ...,jamesviggy,NaN,2.0
20083373,2019-06-04 20:25:59+00,Hi #crypto !\n\nI see you are not doing so wel...,LittleSweetBB,NaN,82.0
20119136,2019-06-20 17:38:00+00,Logistics and Blockchain: a perfect match\nBlo...,quasagroup,NaN,1.0

In [26]:
filename = "BTC_"+start+"_"+end+"_"+"_tweets_data_from_file.csv"

In [27]:
tweet_data.to_csv("../datasets/" + filename)